// Your variable overrides
$sidebar-bg-color: #ffffff;
$sidebar-color: #28231d;
$submenu-bg-color-collapsed: #b30d28;
$submenu-bg-color: #fff;
$highlight-color: #b30d28;
$icon-bg-color: #fcfafa;
$submenu-indent: 24px;
@import "~react-pro-sidebar/dist/scss/styles.scss";

th,
td {
  padding: 20px;
}
