
@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');


@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  html,
  body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat","Poppins", sans-serif;
   @apply bg-[#f9f9f9] dark:!bg-gray-900 dark:!text-gray-100
  }
}

@layer utilities {
  .live-stream-button {
    @apply w-[50px] h-[50px]  row-container rounded-full  bg-[#ecece6] cursor-pointer shadow-md;
  }

  .live-stream-button > img {
    @apply w-[1.5em] align-middle border-none border-0;
  }

  input:focus-within ~ label {
    @apply transform scale-75 -translate-y-6 text-lightPlayRed;
  }

  #attach_file_photo {
    @apply !translate-y-0 !text-black !scale-100;
  }

  input:focus-within ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply transform scale-75 -translate-y-6;
  }

  input:focus-within ~ label {
    @apply text-lightPlayRed;
  }

  textarea:focus-within ~ label {
    @apply transform scale-75 -translate-y-6 text-lightPlayRed;
  }

  textarea:focus-within ~ label,
  textarea:not(:placeholder-shown) ~ label {
    @apply transform scale-75 -translate-y-6;
  }

  textarea:focus-within ~ label {
    @apply text-lightPlayRed;
  }

  select:focus-within ~ label {
    @apply text-lightPlayRed;
  }

  .profile-buttons {
    @apply row-container transition-all transform hover:scale-110 hover:bg-lightPlayRed hover:text-white p-3 bg-gray-200 rounded-md cursor-pointer;
  }
  .login-circle {
    @apply w-3 h-3 my-6 mx-1 bg-white rounded-full;
  }

  /* .post-video-size {
    @apply !w-[95%]  h-full !max-h-[600px] left-0 right-0 mx-auto object-cover;
  } */
  /* .post-video-size {
    @apply !w-full !h-[20em] object-cover min-h-[20em];
  } */
  .btn {
    @apply bg-red-400 py-1 rounded-sm shadow-md px-6 text-white hover:bg-red-800;
  }
  .settings {
    @apply bg-white flex w-4/5 justify-around px-4 mx-auto mt-20 mr-16 ml-6 shadow py-4;
  }
  .input-form {
    @apply block w-full px-4 py-3 mt-2 text-black bg-gray-100 border-b-2 border-0 border-gray-500 rounded-sm  dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-gray-400 focus:ring-gray-300 focus:ring-opacity-40 dark:focus:border-gray-300 focus:outline-none focus:ring;
  }
  .input-textarea {
    @apply block w-full px-4 py-8 mt-2 text-black bg-gray-100 border-b-2 border-0 border-gray-500 rounded-sm  dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-gray-400 focus:ring-gray-300 focus:ring-opacity-40 dark:focus:border-gray-300 focus:outline-none focus:ring;
  }
  #search_input {
    @apply ring-0 focus:ring-0 focus:ring-offset-0;
  }

  .modalButton {
    @apply text-white text-[14px] font-semibold min-h-[48px] text-center rounded-full block relative mx-auto cursor-pointer w-auto py-[1em] px-[1em] md:px-[3em] bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500;
  }
  .modalButton > input {
    @apply w-full h-full absolute top-0 left-0 z-[1] opacity-0 cursor-pointer block overflow-visible m-0 outline-0 appearance-none items-baseline;
  }
  .view-comments {
    @apply block px-5  py-4 text-sm font-semibold text-slate-400 hover:text-lightPlayRed cursor-pointer;
  }
  .gallery-pay-button-div {
    @apply bottom-[6em] p-[1em] rounded-md absolute md:bottom-[14em] top-[0%] w-full z-[2] text-center cursor-pointer;
  }
  .gallery-pay-button {
    @apply bg-lightPlayRed rounded-full text-white font-semibold !py-2 !px-8 text-base !border-none inline-block align-middle text-center select-none;
  }
  .nav-btn {
    @apply text-white active:-translate-y-1 transition active:ring-0;
  }
  .icon-bg {
    @apply w-10 h-10  rounded-full bg-[#BA253D] flex items-center justify-center cursor-pointer;
  }
  .white-icon {
    @apply bg-white rounded-full flex items-center p-1 shadow;
  }
  .side-icon {
    @apply bg-[#CD0929] rounded-full flex items-center w-10 h-10 pl-2;
  }
  .mobile-nav-icon {
    @apply bg-textPlayRed text-white rounded-md flex items-center justify-center w-8 h-8  p-1;
  }
  .side-nav-button {
    @apply flex items-center space-x-1 w-full ml-4 mr-20 cursor-pointer;
  }

  .side-container {
    @apply flex flex-col space-y-2 justify-center bg-white dark:!bg-gray-900 dark:!text-gray-100 border dark:border-gray-800  shadow-lg rounded-lg max-w-3xl p-2;
  }
  .news-feed-card-icon {
    @apply w-6 h-6 md:w-7 md:h-7 fill-current font-extrabold focus:outline-none focus:shadow-none active:outline-none;
  }
  .commentBtn {
    @apply h-8 w-8 text-white rounded-full bg-playRed cursor-pointer p-1;
  }
  .inputBox {
    @apply w-[275px] h-12 flex items-center justify-around p-2 bg-white rounded-full;
  }
  .social-login-buttons {
    @apply flex items-center justify-center rounded-full shadow-2xl w-12 h-12 border cursor-pointer bg-gradient-to-br from-slate-300 to-white ring-1 border-gray-500;
  }
  .login-card {
    @apply flex flex-col bg-bgtext items-center justify-center p-4  rounded-2xl;
  }
  .row-container {
    @apply flex items-center justify-center;
  }
  .col-container {
    @apply flex flex-col items-center justify-center;
  }
  .search-filter-dropdown {
    @apply border rounded-full relative leading-7 tracking-wide font-medium  w-full md:w-auto;
  }

  .notification-nav {
    @apply flex space-x-1 justify-start md:justify-center items-center;
  }
  .postViewImg {
    @apply w-full min-h-[16em] h-[16em] md:min-h-[35em] md:h-[35em] object-cover object-center;
  }
  .postImage {
    @apply relative before:inset-0 before:absolute before:w-full before:z-[1] before:content-none;
  }
  .gallery {
    @apply relative  max-w-full max-h-full m-auto overflow-hidden;
  }

  /* Price Range */
  input[type="range"]::-webkit-slider-thumb {
    pointer-events: auto;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    -webkit-appearance: none;
    @apply bg-lightPlayRed;

    /* @apply w-6 h-6 appearance-none pointer-events-auto; */
  }
  .dropdown-icon {
    @apply w-4 h-4 text-lightPlayRed;
  }

  .sub-button {
    @apply bg-lightPlayRed text-white text-xs py-2 px-0.5 rounded-md w-full flex items-center justify-center cursor-pointer space-x-0.5 whitespace-nowrap;
  }

  #search_input {
    @apply ring-0 focus:ring-0 focus:ring-offset-0;
  }

  .modalButton {
    @apply text-white text-[14px] font-semibold min-h-[48px] text-center rounded-full block relative mx-auto cursor-pointer w-auto py-[1em] px-[1em] md:px-[3em] bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500;
  }
  .modalButton > input {
    @apply w-full h-full absolute top-0 left-0 z-[1] opacity-0 cursor-pointer block overflow-visible m-0 outline-0 appearance-none items-baseline;
  }
  .view-comments {
    @apply block px-5  py-4 text-sm font-semibold text-slate-400 hover:text-lightPlayRed cursor-pointer;
  }
  .gallery-pay-button-div {
    @apply bottom-[6em] p-[1em] rounded-md absolute md:bottom-[14em] top-[48%] w-full z-[2] text-center cursor-pointer;
  }
  .gallery-pay-button {
    @apply bg-lightPlayRed rounded-full text-white font-semibold !py-2 !px-8 text-base !border-none inline-block align-middle text-center select-none;
  }
  .nav-btn {
    @apply text-white active:-translate-y-1 transition active:ring-0;
  }
  .icon-bg {
    @apply w-10 h-10  rounded-full bg-[#BA253D] flex items-center justify-center cursor-pointer;
  }
  .white-icon {
    @apply bg-white rounded-full flex items-center p-1 shadow;
  }
  .side-icon {
    @apply bg-[#CD0929] rounded-full flex items-center w-10 h-10 pl-2;
  }
  .mobile-nav-icon {
    @apply bg-textPlayRed text-white rounded-md flex items-center justify-center w-8 h-8  p-1;
  }
  .side-nav-button {
    @apply flex items-center space-x-1 w-[90%] ml-4 cursor-pointer;
  }
  .side-nav-mobile-button {
    @apply side-nav-button mx-0;
  }
  .side-container {
    @apply flex flex-col space-y-2 justify-center bg-white border shadow-lg rounded-lg max-w-3xl p-2;
  }
  .news-feed-card-icon {
    @apply w-6 h-6 md:w-7 md:h-7 fill-current font-extrabold focus:outline-none focus:shadow-none active:outline-none;
  }
  .commentBtn {
    @apply h-8 w-8 text-white rounded-full bg-playRed cursor-pointer p-1;
  }
  .inputBox {
    @apply w-[275px] h-12 flex items-center justify-around p-2 bg-white rounded-full;
  }
  .social-login-buttons {
    @apply flex items-center justify-center rounded-full shadow-2xl w-12 h-12 border cursor-pointer  bg-gradient-to-br from-slate-300 to-white ring-1 border-gray-500;
  }
  .login-card {
    @apply flex flex-col bg-bgtext items-center justify-center p-4  rounded-2xl;
  }
  .row-container {
    @apply flex items-center justify-center;
  }
  .col-container {
    @apply flex flex-col items-center justify-center;
  }
  .search-filter-dropdown {
    @apply border rounded-full relative leading-7 tracking-wide font-medium  w-full md:w-auto;
  }
  .filter-dropdown {
    @apply search-filter-dropdown px-2  h-[32px] w-full md:w-auto flex  items-center space-x-3;
  }
  .notification-nav {
    @apply flex space-x-1 justify-start md:justify-center items-center;
  }
  .postViewImg {
    @apply w-full min-h-[16em] h-[16em] md:min-h-[35em] md:h-[35em] object-cover object-center;
  }
  .postImage {
    @apply relative before:inset-0 before:absolute before:w-full before:z-[1] before:content-none;
  }
  .gallery {
    @apply relative  max-w-full max-h-full m-auto overflow-hidden;
  }
  .gallery-img-sec {
    @apply relative row-container flex h-full;
  }

  /* Price Range */
  input[type="range"]::-webkit-slider-thumb {
    pointer-events: auto;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    -webkit-appearance: none;
    @apply bg-lightPlayRed;

    /* @apply w-6 h-6 appearance-none pointer-events-auto; */
  }
  .dropdown-icon {
    @apply w-4 h-4 text-lightPlayRed;
  }
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

/* .search-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.search-wrapper.active {
}

.search-wrapper .input-holder {
  height: 70px;
  width: 70px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
  border-radius: 6px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
  width: 450px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57);
}
.search-wrapper .input-holder .search-input {
  width: 100%;
  height: 50px;
  padding: 0px 70px 0 20px;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Open Sans", Arial, Verdana;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  transform: translate(0, 60px);
  transition: all 0.3s cubic-bezier(0, 0.105, 0.035, 1.57);
  transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
  opacity: 1;
  transform: translate(0, 10px);
}
.search-wrapper .input-holder .search-icon {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background: #fff;
  padding: 0px;
  outline: none;
  position: relative;
  z-index: 2;
  float: right;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transform: rotate(45deg);
  transition: all 0.4s cubic-bezier(0.65, -0.6, 0.24, 1.65);
}
.search-wrapper.active .input-holder .search-icon span {
  transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before,
.search-wrapper .input-holder .search-icon span::after {
  position: absolute;
  content: "";
}
.search-wrapper .input-holder .search-icon span::before {
  width: 4px;
  height: 11px;
  left: 9px;
  top: 18px;
  border-radius: 2px;
  background: #fe5f55;
}
.search-wrapper .input-holder .search-icon span::after {
  width: 14px;
  height: 14px;
  left: 0px;
  top: 0px;
  border-radius: 16px;
  border: 4px solid #fe5f55;
}
.search-wrapper .close {
  position: absolute;
  z-index: 1;
  top: 24px;
  right: 20px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transform: rotate(-180deg);
  transition: all 0.3s cubic-bezier(0.285, -0.45, 0.935, 0.11);
  transition-delay: 0.2s;
}
.search-wrapper.active .close {
  right: -50px;
  transform: rotate(45deg);
  transition: all 0.6s cubic-bezier(0, 0.105, 0.035, 1.57);
  transition-delay: 0.5s;
}
.search-wrapper .close::before,
.search-wrapper .close::after {
  position: absolute;
  content: "";
  background: #fe5f55;
  border-radius: 2px;
}
.search-wrapper .close::before {
  width: 5px;
  height: 25px;
  left: 10px;
  top: 0px;
}
.search-wrapper .close::after {
  width: 25px;
  height: 5px;
  left: 0px;
  top: 10px;
} */

.tag_steps li {
  display: inline-block;
}

.tag_steps li.active div {
  background: #607d8b;
  color: #fff;
}
.tag_steps li:first-child div {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tag_steps li:first-child div:before {
  content: "";
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 17px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
}
.tag_steps li div {
  background: #eeeeee;
  text-align: center;
  padding: 0px 25px 0px 37px;
  line-height: 34px;
  position: relative;
  margin: 0 10px 0 0;

  font-size: 15px;
  font-weight: 500;
}

.tag_steps li:last-child div {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tag_steps li:last-child div:after {
  content: "";
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 17px solid #eeeeee;
  position: absolute;
  right: -17px;
  top: 0;
  z-index: 1;
}

@media (max-width: 520px) {
  .tag_steps li div {
    padding: 5px 20px;
  }
}

.tag_steps li.active div:after {
  border-left-color: #607d8b;
  color: #fff;
}
.tag_steps li div:after {
  content: "";
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #eeeeee;
  position: absolute;
  right: -17px;
  top: 0;
  z-index: 1;
}

.tag_steps li div:before {
  content: "";
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.emojiWrapper.chat-emoji {
  position: absolute;
  bottom: calc(3em + 53px);
  right: 1em;
  content: "";
  z-index: 99;
}
/* select */
/* select {

  -webkit-appearance: none  !important;
  -moz-appearance: none !important;
  appearance: none !important;
  text-indent: 1px !important;
  text-overflow: "" !important;
} */
/* endselect */
/*home-sidebar slider css*/

.multiselect-container .search-wrapper {
  border: 0 !important;
  padding: 0 5px !important;
}

.multiselect-container {
  background-color: #ffffff;
  border: 0 !important;
  box-shadow: 0 2px 10px rgb(0 0 0 / 15%);
  border-radius: 8px;
  padding: 0em;
}

/* .create-post .search-wrapper .searchBox {
  font-size: 1.3em;
  font-weight: 500;
} */

.post-like-text {
  font-size: 14px;
  font-weight: 500;
  padding: 0px 2px;
}

.hasFocus {
  /* border-bottom: 1.5px solid rgba(138, 150, 163, 0.2); */
  transition: 1s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.reply-text-field .hasFocus {
  border: 1px solid #ddd !important;
  background-color: #f0f2f5;
  font-size: 1.1em;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  font-weight: 600;
  color: #999999;
  padding: 1.4em !important;
  width: 98%;
  margin-bottom: 1em;
}

/* .empty-comment input {
  width: 75%;
  min-width: 350px;
  border: 0;
  margin: 5px 0;
}
@media only screen and (max-width: 450px) {
  .empty-comment input {
    width: 75%;
    border: 0;
    margin: 5px 0;
  }
} */

.empty-comment input::placeholder {
  font-size: 1em;
  font-weight: 300;
  color: #8a96a3;
}

.DraftEditor-root {
  font-size: 1em;
  padding: 0.5em 0;
  min-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* -webkit-line-clamp: 1; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 100%;
  font-weight: 400;
}

.emojiWrapper {
  position: absolute;
  bottom: 125%;
  right: 0;
  content: "";
  z-index: 99;
}

.embla {
  overflow: hidden;
  position: relative;
}

.embla__slide__img {
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease-in-out;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
}
.embla__navigator {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  margin-top: 10px;
}
.embla__dots {
  cursor: pointer;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 3px;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}

.embla__slide1 {
  position: relative;
  padding: 0 3px;
}
.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: 27px;
}

.embla__button--next {
  right: 27px;
}

.gallery-top-btn-sec {
  /* border: 5px solid rgba(138, 150, 163, 0.2); */
  padding: 1em;
  border-radius: 5px;
  position: absolute;
  /* bottom: 14em; */
  top: 48%;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.postVideo::before {
  position: unset !important;
}

.gallery.js-gallery .react-player__preview {
  /* min-height: 100vh; */
  min-height: 20em;
  background-repeat: no-repeat !important;
}
@media only screen and (max-width: 450px) {
  .gallery.js-gallery .react-player__preview {
    /* min-height: 100vh; */
    min-height: 16em;
    background-repeat: no-repeat !important;
  }
}

.gallery-play-icon {
  border-style: solid;
  border-width: 16px 0px 16px 26px;
  border-color: transparent transparent transparent white;
  position: absolute;
  top: 50%;
}
/* search filter */
.filter-search input {
  font-family: "TT Commons", Roboto, sans-serif;
  font-weight: 600;
  line-height: 1.1;
  border: 0;
  padding: 0;
  color: black;
  height: 45px;
  transition: width 0.15s linear;
  background: transparent;
  word-break: break-word;
  word-wrap: break-word;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
}
.filter-btn {
  position: relative;
  user-select: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  text-align: center;
  transform: translate3d(0, 0, 0);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  box-shadow: none;
  margin: -4px 0 0 10px;
  border-radius: 50%;
  height: 45px;
  min-width: 45px;
  line-height: 45px;
  padding: 0 3px;
  cursor: pointer;
}

/* search filter end */
.tag_auth_effect {
  position: fixed;
  right: -50px;
  top: -161px;
  width: 909px;
  height: 721px;
  opacity: 0.06;
}

.tag_auth_effect_bottom {
  position: fixed;
  left: -120px;
  bottom: -60px;
  height: 500px;
  width: 700px;
  opacity: 0.04;
}

.read-more-button {
  color: red;
  cursor: pointer;
}

.hover-trigger .hover-target {
  display: none;
}

.hover-trigger:hover .hover-target {
  display: block;
}

.slant-header {
  text-align: center;
  padding: 0 0 10px 0;
  background: #fff;
}

/* angled div */
.slanted-div {
  position: relative;
  padding: 20px 0 50px 0;
  overflow: visible;
  z-index: 1;
}

/* where the magic happens */
.slanted-div:before,
.slanted-div:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  transform-origin: left top;
  transform: skewY(-6deg);
}

.slanted-div:after {
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(3deg);
}

/* displays the content inside, as these settings in the parent breaks the effect */
.slanted-div div {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5;
}

.slant-footer {
  text-align: center;
  padding: 100px 0 50px 0;
  background: #fff;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}

/* responsive */
@media only screen and (max-width: 720px) {
  .slant-header {
    padding: 30px 30px 50px 30px;
  }

  .slanted-div {
    padding: 50px 0;
  }

  .slant-footer {
    padding: 65px 0 50px 0;
  }

  h1 {
    font-size: 1.5em;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* chat ui */
.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}
/* end chat ui */

/* header menu */
.tag_scroll::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

.tag_scroll::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 12px;
  border: 3px solid #fff;
}

.tag_scroll::-webkit-scrollbar-button {
  display: none;
}
/* end header meunu */

/* blur bg */

.tag_cover_bg_grad {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: linear-gradient(
    rgba(255, 255, 255, 0.1),
    var(#f9f9f9) 80%,
    var(#f9f9f9) 100%
  );
}
/* end blur bg */

.tag_cover_bg_grad {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: linear-gradient(
    rgba(255, 255, 255, 0.1),
    var(#f9f9f9) 80%,
    var(#f9f9f9) 100%
  );
}
/* end blur bg */

.register {
  background: no-repeat
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1080' preserveAspectRatio='none' viewBox='0 0 1440 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1039%26quot%3b)' fill='none'%3e%3cpath d='M15.75 853.25 a263.69 263.69 0 1 0 527.38 0 a263.69 263.69 0 1 0 -527.38 0z' fill='rgba(255%2c 22%2c 54%2c 0.13)' className='triangle-float3'%3e%3c/path%3e%3cpath d='M296.395%2c1254.473C390.702%2c1254.088%2c491.878%2c1228.591%2c536.935%2c1145.743C580.641%2c1065.378%2c544.24%2c969.11%2c492.689%2c893.537C448.299%2c828.461%2c375.036%2c797.689%2c296.395%2c793.113C206.61%2c787.888%2c107.072%2c794.035%2c56.096%2c868.13C-0.525%2c950.43%2c-0.33%2c1062.894%2c52.431%2c1147.72C102.679%2c1228.507%2c201.257%2c1254.861%2c296.395%2c1254.473' fill='rgba(255%2c 22%2c 54%2c 0.13)' className='triangle-float1'%3e%3c/path%3e%3cpath d='M98.58 556.98 a266.79 266.79 0 1 0 533.58 0 a266.79 266.79 0 1 0 -533.58 0z' fill='rgba(255%2c 22%2c 54%2c 0.13)' className='triangle-float3'%3e%3c/path%3e%3cpath d='M264.88 890.61 a338.12 338.12 0 1 0 676.24 0 a338.12 338.12 0 1 0 -676.24 0z' fill='rgba(255%2c 22%2c 54%2c 0.13)' className='triangle-float3'%3e%3c/path%3e%3cpath d='M889.84 552.58 a318.06 318.06 0 1 0 636.12 0 a318.06 318.06 0 1 0 -636.12 0z' fill='rgba(255%2c 22%2c 54%2c 0.13)' className='triangle-float1'%3e%3c/path%3e%3cpath d='M1416.254%2c362.502C1485.299%2c364.112%2c1547.49%2c322.212%2c1581.426%2c262.061C1614.773%2c202.954%2c1614.532%2c130.584%2c1580.086%2c72.11C1546.151%2c14.504%2c1483.037%2c-15.162%2c1416.254%2c-18.329C1342.501%2c-21.827%2c1259.079%2c-9.296%2c1223.097%2c55.179C1187.647%2c118.699%2c1225.195%2c193.069%2c1263.904%2c254.657C1299.39%2c311.117%2c1349.586%2c360.948%2c1416.254%2c362.502' fill='rgba(255%2c 22%2c 54%2c 0.13)' className='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1039'%3e%3crect width='1440' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.centered-axis-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.centered-axis-xyz {
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
}

.go-live-img-sec {
  position: relative;
  top: 75%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #fff;
}

input:checked ~ .tick-bg {
  background-color: #fe1638;
}

.animate-display {
  animation-name: display;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-duration: 700ms;
  transform-style: preserve-3d;
}
@keyframes display {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.dark .static-box p {
  text-align: justify;
  color: #fff!important;
  background-color: transparent !important;
}

.dark .static-box p > h2 > * {
  text-align: justify;
  color: #fff!important;
  background-color: transparent !important;
}

.dark .static-box p > * {
  text-align: justify;
  color: #fff!important;
  background-color: transparent !important;
}


.static-box p, span {
  text-align: justify;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}